<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Edit  Mahasiswa</h1>
            <%= form_with model: @mahasiswa do |form| %>

                <%= form.text_field(:nama, {:class => 'form-control col-md-3'}) %>
                <%= form.text_field(:jurusan,  {:class => 'form-control col-md-3'}) %>
                <%= form.submit("Update", {:class => 'btn btn-info'}) %>

            <% end %>
        </div>
    </div>
</div>