<h1>Daftar Mahasiswa</h1>
<p>Find me in app/views/mahasiswas/index.html.erb</p>

<table>
    <thead>
        <th>Nama</th>
        <th>Aksi</th>
    </thead>
    <tbody>
        <% @mahasiswas.each do |mahasiswa| %>
        <tr>
            <td><%= mahasiswa.nama %></td>
            <td><%= link_to  "Lihat", mahasiswa_path(mahasiswa) %></td>
        </tr>    
        <% end %>
    </tbody>
</table>
