<h1>Daftar Mahasiswa</h1>
<p>Find me in app/views/mahasiswas/index.html.erb</p>

<ul>
    <% @mahasiswas.each do |mahasiswa| %>

        <li>Nama : <%= mahasiswa.nama %> / Jurusan <%= mahasiswa.jurusan %> </li>

    <% end %>
</ul>