<h1>Mahasiswas#show</h1>
<p>Find me in app/views/mahasiswas/show.html.erb</p>


<div class="container-fluid">
    <h2>Nama Mahasiswa : <%= @mahasiswa.nama %></h2>
    <h4>Jurusan : <%= @mahasiswa.jurusan %></h4>
</div>

